.DS_Store
/backend/proxyserv
/backend/__pycache__
backend/.env
backend/secrets/credentials.json

/backend/.venv
/backend/venv

/frontend/node_modules
/frontend/android
/frontend/ios
/frontend/.env

backend/secrets/**-firebase-adminsdk-**.json

.vscode/settings.json
